@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Noto Serif ", serif;
  color: white;
}

header {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 99%;
}

@media screen and (max-width: 1024px) {
  header {
    width: 95%;
  }
}

nav {
  position: absolute;
  top: 10px;
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}

.first-view {
  width: 100vw;
  height: 100vh;
  background-image: url(img/top-image.jpg);
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .first-view {
    background-image: url(img/top-image_sp.jpg);
  }
}

.first-view__message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.first-view__message h1 {
  font-size: 10.5vw;
  font-weight: normal;
  margin: 0 !important;
  white-space: nowrap;
  line-height: 1em;
}

.first-view__message p {
  font-size: 5vw;
  margin: 0 !important;
}

.main-content-bg {
  background-image: url(img/sea.jpg);
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 24px;
}

.main-contents-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .main-contents-wrapper {
    width: 95%;
  }
}

.section-title {
  text-align: center;
  font-size: 4rem;
  margin: 0 0 24px 0 !important;
}

@media screen and (max-width: 520px) {
  .section-title {
    font-size: 3.2rem;
  }
}

.txt-container--policy {
  margin-bottom: 40px;
}

.txt-container__title {
  font-size: 3.2rem;
  margin: 0 0 0.16em 0;
  text-align: left;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 520px) {
  .txt-container__title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 520px) {
  .txt-container__title {
    font-size: 3.2rem;
    margin: 0 0 0.16em 0;
    text-align: center;
    letter-spacing: 0.05em;
  }
}

@media screen and (max-width: 520px) and (max-width: 520px) {
  .txt-container__title {
    font-size: 2.4rem;
  }
}

.txt-container__txt, .txt-container__txt--price, .txt-container__txt--center {
  text-align: justify;
  font-size: 1.6rem;
  margin: 0;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 520px) {
  .txt-container__txt, .txt-container__txt--price, .txt-container__txt--center {
    font-size: 1.4rem;
  }
}

.txt-container__txt--large {
  text-align: justify;
  font-size: 2rem;
  margin: 0 0 0.5em 0;
}

.main-contents__section {
  margin-bottom: 150px;
}

.profile_picture {
  height: 300px;
  margin: 0px auto 32px 0;
}

@media screen and (max-width: 520px) {
  .profile_picture {
    height: 50vw;
    margin: 0 auto 40px 0;
  }
}

.profile_picture img {
  margin: 0 auto;
  display: block;
  height: 100%;
  width: auto;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service {
  width: calc(33.3% - 3em);
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .service {
    width: 100%;
    margin: 0 0 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 520px) {
  .service {
    width: 100%;
    margin: 0 auto 40px auto;
    display: block;
  }
}

.service__icon {
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 1024px) {
  .service__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
    margin-right: 5em;
    width: 13%;
  }
}

@media screen and (max-width: 520px) {
  .service__icon {
    display: block;
    margin: 0 auto 8px auto;
    width: 30%;
  }
}

.service__icon img {
  width: 70%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .service__icon img {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .service__icon img {
    width: 100%;
  }
}

.txt-wrapper {
  width: 100%;
}

.txt-container__title--service-title {
  font-size: 3.2rem;
  margin: 0 0 0.16em 0;
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 2.8rem;
  margin-bottom: 8px;
}

@media screen and (max-width: 520px) {
  .txt-container__title--service-title {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .txt-container__title--service-title {
    text-align: left;
    line-height: .9em;
  }
}

@media screen and (max-width: 520px) {
  .txt-container__title--service-title {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0px;
  }
}

.txt-container__txt--price {
  margin-top: 24px;
  margin-bottom: 20px;
}

.txt-container__txt--center {
  text-align: center;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__item {
  width: calc(25% - 2em);
}

.skills__item:nth-child(-n + 4) {
  margin-bottom: 2em;
}

.skills__item img {
  width: 100%;
  height: auto;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work {
  width: calc(33% - 1rem);
}

@media screen and (max-width: 1024px) {
  .work {
    width: calc(50% - 2em);
  }
  .work:nth-child(3) {
    margin: 4em auto 0 auto;
  }
}

.work__link {
  display: block;
}

.work__content {
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.work__content img {
  width: 100%;
  height: auto;
}

.work__content .mask {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(212, 30, 69, 0.7);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.work__content .caption {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  font-size: 1.4rem;
  text-align: center;
  -webkit-transition: all 0.3s step-end;
  transition: all 0.3s step-end;
}

.work__content .caption p {
  color: #fff;
  opacity: 0;
}

.work__content:hover .mask {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.work__content:hover .caption {
  visibility: visible;
}

.work__content:hover .caption p {
  opacity: 1;
}

.contact-container {
  text-align: center;
}

.contact-container p {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  margin: 24px auto 0 auto;
}

@media screen and (max-width: 520px) {
  .contact-container p {
    font-size: 1.4rem;
  }
}

.copyright {
  padding: 10px 0;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .copyright {
    font-size: 1.2rem;
  }
}

.copyright p {
  padding: 10px auto;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */