@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap"); //Noto Serif

$layout-width-inner: 1024px;

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Noto Serif ", serif;
  color: white;
}

// ヘッダー
header {
  max-width: $layout-width-inner;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

nav {
  position: absolute;
  top: 10px;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.nav-link {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

// ファーストビュー
.first-view {
  width: 100vw;
  height: 100vh;
  background-image: url(img/top-image.jpg);
  background-size: cover;
  position: relative;
}

.first-view__message {
  position: absolute;
  top: 50%;
  left: 50%;
  // right: 0;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: 10.5vw;
    font-weight: normal;
    margin: 0 !important;
    white-space: nowrap;
    line-height: 1em;
  }

  p {
    font-size: 5vw;
    margin: 0 !important;
  }
}

// メインコンテンツ
.main-content-bg {
  background-image: url(img/black_background.jpg);
  background-size: contain;
  padding-bottom: 10px;
  padding-top: 20px;
}

.main-contents-wrapper {
  max-width: $layout-width-inner;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 4rem;
  margin: 0 0 16px 0 !important;
}

.txt-container--policy {
  margin-bottom:40px;
}

@mixin txtContentTitle ($text-align){
  font-size: 3.2rem;
  margin: 0 0 0.16em 0;
  text-align: $text-align;
} //txt-content-titleのmixin定義

.txt-container__title {
  @include txtContentTitle(left);
}

.txt-container__txt {
  text-align: justify;
  font-size: 1.6rem;
  margin: 0;
}

.txt-container__txt--large {
  text-align: justify;
  font-size: 2rem;
  margin: 0 0 0.5em 0;
}

.main-contents__section {
  margin-bottom: 100px;
}

// Aboutセクション
.profile_picture {
  height: 300px;
  margin: 0px auto 32px 0;
}

.profile_picture img {
  margin: 0 auto;
  display: block;
  height: 100%;
  width: auto;
}

// Servicesセクション
.services {
  display: flex;
  justify-content: space-between;
}

.services-menu {
  width: calc(33.3% - 3rem);
  display: inline-block;
}

.service__icon {
  text-align: center;
  margin-bottom: 16px;

  img {
    width: 80%;
    height: auto;
  }
}

.txt-container__title--service-title {
  @include txtContentTitle(center);
  font-size: 2.8rem;
  margin-bottom: 8px;
}

.txt-container__txt--price {
  @extend .txt-container__txt;
  margin-top: 24px;
  margin-bottom: 20px;
}

.txt-container__txt--center {
  @extend .txt-container__txt;
  text-align: center;
}

// Skillsセクション
.skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.skills__item {
  width: calc(25% - 2rem);

  &:nth-child(-n+4) {
    margin-bottom: 20px;
  }
}

// Worksセクション
.works {
  display: flex;
  justify-content: space-between;
}

.works__item {
  width: calc(33% - 1rem);
}

.works__item img {
  width: 100%;
  z-index: 0;
}

.work__content {
  height: auto;
  overflow:hidden;
  display: inline-block;
  position: relative;

  .caption {
    width: 100%;
    height: 100%;
    visibility: hidden; //文字を表示しない
    font-size: 1.4rem;
    position: absolute;
    top: 25px;
    left: 0;
    text-align: center;
    transition: all 0.3s step-end;
    z-index: 2;

    p {
      color: #fff;
      opacity: 0; //ホバーが解除されたときすぐ消えるように文字を表示しない
    }
  }
}

.work__content:hover .caption {
  visibility: visible; //文字を表示する
}

.work__content:hover .caption p{
  opacity: 1; //文字を表示する
}

.work__content .mask {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 1;
}

.work__content:hover .mask {
  opacity: 1;
  transform: scale(1.0);
}