@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap"); //Noto Serif

// ブレークポイント
$layout-width-inner: 1024px;
$layout-width-sp: 520px;

$breakpoints: (
  "tab": "screen and (max-width: #{$layout-width-inner})",
  "sp": "screen and (max-width: #{$layout-width-sp})",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Noto Serif ", serif;
  color: white;
}

// ヘッダー
header {
  max-width: $layout-width-inner;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 99%;

  @include mq(tab) {
    width: 95%;
  }
}

nav {
  position: absolute;
  top: 10px;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.nav-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}

// ファーストビュー
.first-view {
  width: 100vw;
  height: 100vh;
  background-image: url(img/top-image.jpg);
  background-size: cover;
  position: relative;
}

.first-view__message {
  position: absolute;
  top: 50%;
  left: 50%;
  // right: 0;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: 10.5vw;
    font-weight: normal;
    margin: 0 !important;
    white-space: nowrap;
    line-height: 1em;
  }

  p {
    font-size: 5vw;
    margin: 0 !important;
  }
}

// メインコンテンツ
.main-content-bg {
  background-image: url(img/sea.jpg);
  background-size: cover;
  padding-bottom: 10px;
  padding-top: 24px;
}

.main-contents-wrapper {
  max-width: $layout-width-inner;
  margin: 0 auto;

  @include mq(tab) {
    width: 95%;
  }
}

.section-title {
  text-align: center;
  font-size: 4rem;
  margin: 0 0 24px 0 !important;
}

.txt-container--policy {
  margin-bottom: 40px;
}

@mixin txtContentTitle($text-align) {
  font-size: 3.2rem;
  margin: 0 0 0.16em 0;
  text-align: $text-align;
  letter-spacing: 0.05em;
} //txt-content-titleのmixin定義

.txt-container__title {
  @include txtContentTitle(left);
}

.txt-container__txt {
  text-align: justify;
  font-size: 1.6rem;
  margin: 0;
  letter-spacing: 0.05em;
}

.txt-container__txt--large {
  text-align: justify;
  font-size: 2rem;
  margin: 0 0 0.5em 0;
}

.main-contents__section {
  margin-bottom: 150px;
}

// Aboutセクション
.profile_picture {
  height: 300px;
  margin: 0px auto 32px 0;
}

.profile_picture img {
  margin: 0 auto;
  display: block;
  height: 100%;
  width: auto;
}

// Servicesセクション
.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service {
  width: calc(33.3% - 3em);
  display: inline-block;

  @include mq(tab) {
    width: 100%;
    margin: 0 0 40px 0;
    display: flex;
  }
}

.service__icon {
  text-align: center;
  margin-bottom: 16px;

  @include mq(tab) {
    display: flex;
    display: inline-block;
    margin-right: 5em;
    width: 13%;
  }

  img {
    width: 70%;
    height: auto;

    @include mq(tab) {
      width: 100%;
    }
  }
}

.txt-wrapper {
  width: 100%;
}

.txt-container__title--service-title {
  @include txtContentTitle(center);
  font-size: 2.8rem;
  margin-bottom: 8px;

  @include mq(tab) {
    text-align: left;
    line-height: .9em;
  }
}

.txt-container__txt--price {
  @extend .txt-container__txt;
  margin-top: 24px;
  margin-bottom: 20px;
}

.txt-container__txt--center {
  @extend .txt-container__txt;
  text-align: center;
}

// Skillsセクション
.skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.skills__item {
  width: calc(25% - 2em);

  &:nth-child(-n + 4) {
    margin-bottom: 2em;
  }
}

.skills__item img {
  width: 100%;
}

// Worksセクション
.works {
  display: flex;
  justify-content: space-between;
}

.works__item {
  width: calc(33% - 1rem);
}

.work__link {
  display: block;
}

.work__content {
  height: auto;
  overflow: hidden;
  display: flex;
  position: relative;

  img {
    width: 100%;
  }

  .mask {
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(#d41e45, 0.6);
    opacity: 0;
    transition: all 0.5s ease;
  }

  .caption {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden; //文字を表示しない
    font-size: 1.4rem;
    text-align: center;
    transition: all 0.3s step-end;

    p {
      color: #fff;
      opacity: 0; //ホバーが解除されたときすぐ消えるように文字を表示しない
    }
  }
}

.work__content:hover .mask {
  opacity: 1;
  transform: scale(1);
}

.work__content:hover .caption {
  visibility: visible; //文字を表示する
}

.work__content:hover .caption p {
  opacity: 1; //文字を表示する
}

//Contactセクション
.contact-container {
  text-align: center;
}

.contact-container p {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
}

// フッター
footer {
  padding: 10px 0;
  background-color: #007388;
}

.copyright {
  font-size: 1.4rem;
  text-align: center;

  p {
    padding: 10px auto;
    margin: 0;
  }
}
